@import "tailwindcss";

@source "../../apps/web/app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../../apps/web/pages/**/*.{js,ts,jsx,tsx,mdx}";
@source "../../apps/web/components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../ui/src/**/*.{js,ts,jsx,tsx,mdx}";

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.6002 0.1038 184.7040);
  --primary-foreground: oklch(0.9836 0.0142 180.7200);
  --secondary: oklch(0.9674 0.0013 286.3752);
  --secondary-foreground: oklch(0.1408 0.0044 285.8229);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.9836 0.0142 180.7200);
  --accent-foreground: oklch(0.4370 0.0705 188.2164);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9197 0.0040 286.3202);
  --input: oklch(0.9197 0.0040 286.3202);
  --ring: oklch(0.7038 0.1230 182.5025);
  --chart-1: oklch(0.6002 0.1038 184.7040);
  --chart-2: oklch(0.5461 0.2152 262.8809);
  --chart-3: oklch(0.6658 0.1574 58.3183);
  --chart-4: oklch(0.5960 0.1274 163.2254);
  --chart-5: oklch(0.5771 0.2152 27.3250);
  --sidebar: oklch(0.9674 0.0013 286.3752);
  --sidebar-foreground: oklch(0.5517 0.0138 285.9385);
  --sidebar-primary: oklch(0.6002 0.1038 184.7040);
  --sidebar-primary-foreground: oklch(0.9836 0.0142 180.7200);
  --sidebar-accent: oklch(0.9836 0.0142 180.7200);
  --sidebar-accent-foreground: oklch(0.4370 0.0705 188.2164);
  --sidebar-border: oklch(0.9197 0.0040 286.3202);
  --sidebar-ring: oklch(0.7038 0.1230 182.5025);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0.05rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2103 0.0059 285.8852);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2277 0.0057 285.9349);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2277 0.0057 285.9349);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.7038 0.1230 182.5025);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.2739 0.0055 286.0326);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.3861 0.0590 188.4158);
  --accent-foreground: oklch(0.9836 0.0142 180.7200);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2739 0.0055 286.0326);
  --ring: oklch(0.8549 0.1251 181.0707);
  --chart-1: oklch(0.7038 0.1230 182.5025);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.7686 0.1647 70.0804);
  --chart-4: oklch(0.6959 0.1491 162.4796);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(0.2277 0.0057 285.9349);
  --sidebar-foreground: oklch(0.7118 0.0129 286.0665);
  --sidebar-primary: oklch(0.7038 0.1230 182.5025);
  --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-accent: oklch(0.3861 0.0590 188.4158);
  --sidebar-accent-foreground: oklch(0.9836 0.0142 180.7200);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.8549 0.1251 181.0707);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}